  <textarea id="log"></textarea>
  <div id="progress"></div>
  <div class="wrapper">
    <div class="d" style="--position:1;--vpos:1"><img id="loading" src="./images/1.jpg"></div>
    <div class="d" style="--position:2;--vpos:2"><img id="loading" src="./images/garage.jpg"></div>
    <div class="d" style="--position:3;--vpos:1"><img id="loading" src="./images/his.jpg"></div>
    <div class="d" style="--position:4;--vpos:3"><img id="loading" src="./images/life.jpg"></div>
    <div class="d" style="--position:5;--vpos:2"><img id="loading" src="./images/syber.jpg"></div>
    <div class="d" style="--position:6;--vpos:1"><img id="loading" src="./images/note.jpg"></div>
    <div class="d" style="--position:7;--vpos:3"><img id="loading" src="./images/2.jpg"></div>
    <div class="d" style="--position:8;--vpos:1"><img id="loading" src="./images/3.jpg"></div>
    <div class="d" style="--position:9;--vpos:3"><img id="loading" src="./images/wave.jpg"></div>
    <div class="d" style="--position:10;--vpos:2"><img id="loading" src="./images/his.jpg"></div>
  </div>
  <div class="canvas" id="container">
    <div class="border"></div>
    <div class="border"></div>
    <div class="border"></div>
    <div class="border"></div>
  </div>