  <div class="wrapper">
    <div class="d" style="--position:1;--vpos:1"></div>
    <div class="d" style="--position:2;--vpos:2"></div>
    <div class="d" style="--position:3;--vpos:1"></div>
    <div class="d" style="--position:4;--vpos:3"></div>
    <div class="d" style="--position:5;--vpos:2"></div>
    <div class="d" style="--position:6;--vpos:1"></div>
    <div class="d" style="--position:7;--vpos:3"></div>
    <div class="d" style="--position:8;--vpos:1"></div>
    <div class="d" style="--position:9;--vpos:3"></div>
    <div class="d" style="--position:10;--vpos:2"></div>
  </div>
  <div class="canvas" id="container">
    <div class="border"></div>
    <div class="border"></div>
    <div class="border"></div>
    <div class="border"></div>
  </div>
