@use "../variables/variables";
@use "../mixin/mixin";

#log {
  position: fixed;
  z-index: 1000;
  top: 0;
  left: 0;
}

#progress {
  position: fixed;
  z-index: 100;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  display: grid;
  place-items: center;
  background-color:variables.$black;
  color: white;
}

#container {
  $this: &;
  height: 100vh;
  width: 100vw;
}
canvas {
  display: block;
  pointer-events: none;
  z-index: -1;
}

.wrapper {
  margin-top: 20vh;
  margin-left: 32px;
  height: calc(60vh + 20px);
  width: 100%;
  display: grid;
  grid-template-rows: repeat(auto-fill, 20vh);
  grid-template-columns: repeat(auto-fill, 20vh);
  gap: 0 10vh;
  // position: absolute;
  position: fixed;
  z-index: 10;
  grid-auto-flow: column;
  // overflow-x: hidden;
  margin-bottom: 20vh;
}

.d {
  grid-column-start: var(--position);
  grid-row-start: var(--vpos);
  border: 4px solid variables.$black;
  width: 20vh;
  height: calc(20vh + 4px);
  background-color: variables.$gray;
}

.border {
  height: 4px;
  width: 100%;
  position: absolute;
  left: 0;
  background-color: variables.$black;
  &:nth-child(1) {
    top: calc(20vh);
  }
  &:nth-child(2) {
    top: 40vh;
  }
  &:nth-child(3) {
    top: 60vh;
  }
  &:nth-child(4) {
    top: 80vh;
  }
  &.scrolled {
  }
}
