<header class="header" id="header">
  <div class="header_wrapper">
    <div class="header_inner">
      <%- include('../_component/_gnav',{page:page,}) ;%>
      <%- include('../_component/_drawer-button') ;%>
    </div>
  </div>
</header>